### Part -1 Python Basics (Variables)

##### 1. Print Your Name with your Father name and Date of birth using suitable escape sequence charactor.

In [1]:
# Common Escape Sequences in Python:
# Escape Sequence	Meaning (Kya Karta Hai?)	                                Example Output
# \n	            New Line (Nayi line pe jata hai)	                        "Hello\nWorld" →
# Hello
# World

# \t	            Tab Space (Ek tab ka space deta hai)	                    "Hello\tWorld" → Hello World
# \\	            Backslash (Ek \ print karta hai)	                        "C:\\Users\\Ali" → C:\Users\Ali
# \'	            Single Quote (Agar string single quote me likhi ho)	        'It\'s a book' → It's a book
# \"	            Double Quote (Agar string double quote me likhi ho)	        "Ali said \"Hello\"" → Ali said "Hello"
# \r	            Carriage Return (Line ki shuruat me wapas le jata hai)	    "Hello\rWorld" → Worldo
# \b	            Backspace (Pichla character hata deta hai)	                "Helloo\b World" → Hello World
# \f	            Form Feed (New Page jesa effect deta hai)	                "Hello\fWorld"
# \v	            Vertical Tab (Line me gap deta hai)	                        "Hello\vWorld"
# \ooo	            Octal Value (Octal number ka character show karta hai)	    \101 → A
# \xhh	            Hexadecimal Value (Hex number ka character show karta hai)  \x41 → A

In [37]:
print("Name:\t\tMuhammad Anas\nFather Name:\tMuhammad Farooq\nDOB\t\t25-01-1994")

Name:		Muhammad Anas
Father Name:	Muhammad Farooq
DOB		25-01-1994

### 2. Write your small bio using variables and print it using print function.

In [10]:
bio_details = "I've completed my BS from KU, Now worinkg as an ETL Develpor in E-Creatorz"
print(bio_details)

I've completed my BS from KU, Now worinkg as an ETL Develpor in E-Creatorz

### 3. Write a program in which use all the operators we can use in Python

In [38]:
# Operator	Kaam Kya Karta Hai?	Example	Output
# ** (Exponentiation)	Number ko power me uthata hai	3 ** 2	9 (3 × 3)
# % (Modulus)	Division ke baad remainder return karta hai	10 % 3	1 (10 ÷ 3 ka remainder)

In [31]:
# Arithmetic Operators

x = 20
y = 30

print("Arithmetic Operators:")
print("Addition:", x + y)
print("Subtraction:", y - x)
print("Multipilicatoin:", x * y)

a = 10
b = 3

print("Dividion:", a / b)        # Usually division / returns decimal values.
print("Floor Division:", a // b) # While floor division // always retuns round value.
print("Modulus:", a % b)         # 10 % 3 = 1 (Always retuns remaining values).
print("Exponentiation:", a ** b) # 10 % 3 = 1 (Always retuns remaining values), 
                                 # Number ko power(exponent) me uthata hai. E.g. 10 ** 3 means 10 × 10 × 10 = 1000

# 2. Comparison Operators

print("\nComparison Operators:")
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater Then:", a > b)
print("Less Then:", a < b)
print("Less Then Equal to:", a >= b)
print("Less Then Equal to:", a <= b)

Arithmetic Operators:
Addition: 50
Subtraction: 10
Multipilicatoin: 600
Dividion: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

Comparison Operators:
Equal: False
Not Equal: True
Greater Then: True
Less Then: False
Less Then Equal to: True
Less Then Equal to: False

### 4. Completes the following steps of small task:

* Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
* Mention Variable of Total Marks and assign 300 to it
* Calculate Percentage

In [43]:
# Percentage=(Obtained Value/Total Value) × 100

In [44]:
Islamiat_Marks = 90
English_Marks = 85
Maths_Marks = 75
Total_Marks = 300
Obtain_Marks = Islamiat_Marks + English_Marks + Maths_Marks
Overall_Percentage = Obtain_Marks / Total_Marks * 100

print("Total_Marks", Total_Marks)
print("Obtain_Marks", Obtain_Marks)
print("Overall_Percentage", Overall_Percentage)

Total_Marks 300
Obtain_Marks 250
Overall_Percentage 83.33333333333334

### Part -2 Python Basics (Conditional Statements)

* 1. A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [16]:
user_exp = float(input("Enter your service duratoin "))
Emp_Salary = int(input("Enter your salary "))


if user_exp > 5:
    bonus = Emp_Salary * 0.05
    print("Congratulations! You are able to get bonus.: ", bonus)
else:
    print("Sorry, You are not able to get bonus.")

Enter your service duratoin  6
Enter your salary  50000

Congratulations! You are able to get bonus.:  2500.0

* 2. Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [18]:
user_age = int(input("Please Enter your age: " ))

if user_age > 17:
    print("Glad to see that, because you are eligible for voting")
else:
    print("We apologies, because you are not eligible for voting")

Please Enter your age:  18

Glad to see that, because you are eligible for voting

* 3. Write a program to check whether a number entered by user is even or odd.

In [23]:
user_number = int(input("Put a number: "))

if user_number % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Put a number:  2

Even Number

* 4. Write a program to check whether a number is divisible by 7 or not. Show Answer

In [26]:
num = int(input("Enter a number: "))
divisor = int(input("Enter a divisor: "))

if num % divisor == 0:
    print("It's divisible no")
else:
    print("It isn't divisible no")

Enter a number:  17
Enter a divisor:  5

It isn't divisible no

* 5. Write a program to display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [28]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello!")
else:
    print("Bye.")

Enter a number:  7

Bye.

* 6.0 Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
- 6.1 Unit Price uptp 100 units no charges,  # e.g 1. if input unit is 97 than total bill amount is Rs.0
- 6.2 If 200 units Rs 5 per unit charges,  # e.g 2. if input unit is 150 than total bill amount is Rs.750
- 6.3 After 200 units Rs 10 per unit.        # e.g 3. if input unit is 350 than total bill amount is Rs.3500

In [34]:
unit_no = int(input("Enter your electricity bill units here: "))

if unit_no >= 0 and unit_no <= 100:
    print("Your total bill amount is 0")
elif unit_no > 100 and unit_no <= 200:
    print("Your total bill amount is", unit_no * 5)
else:
    print("Your total bill amount is", unit_no * 10)

Enter your electricity bill units here:  350

Your total bill amount is 3500

* 7. Write a program to display the last digit of a number.

In [5]:
add_number = int(input("Add your number:" ))
last_digit = add_number % 10
print("Your last digit is", last_digit)

Add your number: 99

Your last digit is 9

* 8. Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [8]:
lenght = int(input("Enter the lenght: "))
breadth = int(input("Enter the breadth: "))

if lenght == breadth:
    print("It's a Square")
else:
    print("It's a rectangle")

Enter the lenght:  5
Enter the breadth:  9

It's a rectangle

* 9. Take two int values from user and print greatest among them.

In [14]:
first_value = int(input("Enter first value: "))
second_value = int(input("Enter second value: "))

if first_value > second_value:
    print(first_value, "Your first no is bigger then second")
elif second_value > first_value:
    print(second_value, "Your second no is bigger then first")
else:
    print(first_value, "-", second_value,"Both are equal")

Enter first value:  5
Enter second value:  5

5 - 5 Both are equal

* A shop will give discount of 10% if the cost of purchased quantity is more than 1000. Ask user for quantity Suppose, one unit will cost 100. Judge and print total cost for user.

In [33]:
Purch_Quantity = int(input("Total Units: "))
cost_per_unit = 100
total_cost = Purch_Quantity * cost_per_unit

if Purch_Quantity > 1000:
    discount = total_cost * 10 / 100
    final_cost = total_cost - discount
    print("Cost Per Unit", cost_per_unit)
    print("Actual Cost of units", total_cost)
    print("Less discount", discount)
    print("After 10% discounted amount is", final_cost)
else:
    print("Cost Per Unit", cost_per_unit)
    print("Actual Cost of units", total_cost)

Total Units:  999

Cost Per Unit 100
Actual Cost of units 99900

* 10. A school has following rules for grading system.

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [34]:
marks = int(input("Enter your marks"))

if marks > 80:
    print("A")
elif marks > 60 and marks <=80:
    print("B")
elif marks > 50 and marks <=60:
    print("C")
elif marks > 45 and marks <=50:
    print("D")
elif marks > 25 and marks <=45:
    print("E")
else:
    print("F")

Enter your marks 90

A

* 11. A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

And print

percentage of class attended

Is student is allowed to sit in exam or not.

In [41]:
classes_held = int(input("Total class held: "))
classes_attended = int(input("Total class attended: "))

attendance = (classes_held / classes_attended) * 100
print("Attendance Percentage", attendance, "%")

if attendance <= 75:
    print("Allowed to sit in exam.")
else:
    print("Not allowed to sit in exam.")

Total class held:  80
Total class attended:  20

Attendance Percentage 400.0 %
Allowed to sit in exam.

* 12. Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [42]:
NumberOfClass = int(input("Enter total number of classes held: "))
NumberOfClassAtend = int(input("Enter number of classes attended: "))

attendance = (NumberOfClass / NumberOfClassAtend) * 100
print("Attendance Percentage", attendance, "%")

if attendance <= 75:
    print("Allowed to sit in exam.")
else:
    MedicalCasuse = input("Do you have a medical cause? (Y/N): ")
    if MedicalCasuse == 'Y':
        print("Allowed to sit in exam due to medical cause.")
    else:
        print("Not allowed to sit in exam.")

Enter total number of classes held:  50
Enter number of classes attended:  10

Attendance Percentage 500.0 %

Do you have a medical cause? (Y/N):  Y

Allowed to sit in exam due to medical cause.

* 13. Write a program to check if a year is leap year or not.
If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [45]:
year = int(input("Enter the year"))

if year %4:
    print (year , "Your year is leep year")
elif year %400:
    print (year,"Your year is century year ")
else:
    print (" your year is:", year)

Enter the year 5

5 Your year is leep year

* 14. Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

* If employee is female, then she will work only urban areas.
* If employee is male and age is between 20 to 40, then he may work anywhere areas.
* If employee is male and age is between 40 to 60, then he will work only urban areas.
* And any other input of age print "Error"

In [48]:
age = int(input("Enter your age: "))
gender = input("What's your gender (M/F): ")
# marital_status = input("Enter your marital status (Y/N): ")


if gender == "F":
    print("You can work only urban areas.")
elif age >= 20 and age <=40 and gender == "M": 
    print("You can work anywhere areas.")
elif age >= 40 and age <= 60 and gender == "M":
    print("You can work only urban areas.")
else:
    print(ERROR)

Enter your age:  25
What's your gender (M/F):  F

You can work only urban areas.

* 14. Take input of age of 3 people by user and determine oldest and youngest among them.

In [49]:
age_1 = int(input("Enter your First brother age"))
age_2 = int(input("Enter your Second brother age"))
age_3 = int(input("Enter your Third brother age"))

if age_1 > age_2  and age_1 > age_3:
    oldest = age_1
elif age_2 > age_1 and age_2  > age_3:
    oldest = age_2 
else:
    oldest = age_3

if age_1 < age_2 and age_1 < age_3:
    youngest = a1
elif age_2  < age_1 and age_2  < age_3:
    youngest = age_2 
else:
    youngest = age_3

print("The oldest person is", oldest, "years old.")
print("The youngest person is", youngest, "years old.")

Enter your First brother age 25
Enter your Second brother age 35
Enter your Third brother age 37

NameError: name 'a1' is not defined